:root {
    --title: 56px;
    --button: 44px;
    --subtitle: 28px;
    --heading: 68px;
    --normal-font-size: 24px;
    --gradient-background: linear-gradient(#47bdcd, #01607f);
    --gradient-solid: linear-gradient(130deg, #184d58, rgba(1, 10, 11,0.74));
    --darkbluee: #002d33;
    --bluee: #005b66;
    --lightbluee: #e5fcff;
    --orangee: #e46f1b;
}

*,body {
    font-family: 'Inria Sans', sans-serif;
}

body {
    margin-top: -35px;
    margin-left: 50px;
    margin-right: 50px;
    background-image: var(--gradient-background);
    background-repeat: no-repeat;
    color: var(--darkbluee);
}

/*      HEADER      */
.aubin {
    font-size: var(--title);
    display: inline-block;
}

ul {
    float: right;
    display: flex;
    list-style: none;
    margin-top: 62px;
}

.nav-ol li {
    font-size: var(--subtitle);
    position: relative;
    display: flex;
    flex-direction: row;

}
.ul-normal {
    margin-left: 100px;
}

.ul-login{
    margin-top: -5px;
    padding: 0px 10px 4px 10px;
    border: var(--darkbluee) solid;
    border-radius: 15px;
    border-spacing: 20px;
    margin-left: 100px;
}

.ul-signup{
    background-color: var(--darkbluee);
    color: var(--lightbluee);
    text-align: center;
    margin-top: -5px;
    padding: 0px 10px 4px 10px;
    border: var(--darkbluee) solid;
    border-radius: 15px;
    border-spacing: 20px;
    margin-left: 25px;
}

/*          CENTER          */

.center-content {
    background-image: var(--gradient-solid);
    margin-top: -18px;
    margin-left: -50px;
    margin-right: -50px;
    display: flex;
    flex-direction: row;
    color: var(--lightbluee); 
}

.person{
    margin-left: 20px;
    width: 490px;
    height: 523px;
    filter: drop-shadow(-10px -4px 8px rgba(0, 0, 0, 0.432));
}

.store {
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 50px;
    width: 330px;
    height: 330px;
}

.android {
    margin-top: 100px;
    margin-left: 150px;
    margin-right: 120px;
    width: 330px;
    height: 230px;
}


.center-text {
    margin-left: 50px;
    margin-right: 50px;
    text-align: justify;
    margin-top: -20px;
}
.center-text p:first-child{
    font-size: var(--heading);
    font-weight: bold;
    margin-top: 100px;
}

.center-text p {
    font-size: var(--normal-font-size);
    margin-bottom: 40px;
}

.center-button {
    margin-left: 30%;
    font-size: var(--button);
    background-color: var(--orangee);
    color: var(--lightbluee);
    height: 60px;
    width: 250px;
    text-align: center;
    border-radius: 15px;
    padding-top: 0px;
}

.more-content {
    display: flex;
    color: var(--lightbluee); 
}

.more-content-container {
    background-image: var(--gradient-solid);
    margin-top: -18px;
    margin-left: -50px;
    margin-right: -50px;
    padding-bottom: 50px;
}

/*          FOOTER          */

.my-footer{
    margin-right: -50px;
    margin-left: -50px;
    padding: 10px 0 10px 0  ;
    mix-blend-mode: normal;
    background: rgba(12, 52, 58, 0.23);
    z-index: -1;
}

.email-section {
    margin-left: 429px;
    color: var(--lightbluee);
    font-size: var(--normal-font-size);
}

.email-add{
    margin-top: -10px;
    display: flex;
    flex: auto;
    flex-direction: inherit;
    width: 383px;
    height: 48px;
    border: 2px solid var(--darkbluee);
    border-radius: 57px;
    text-align: left;
    padding: 12px 0px 0 20px;
}

.email-enter {
    display: inline-block;
    margin-top: auto;
    font-size: var(--normal-font-size);
    margin-right: 34px;
}

.email-submit {
    width: 144px;
    height: 60px;
    background: var(--orangee);
    border: 2px solid var(--darkbluee);
    border-radius: 57px;
    margin-top: -14px;
    margin-right: -500px;
}

.email-submit p {
    margin: auto;
    padding-top: 12px;
    text-align: center;
}

.subscribe{
    margin-left: 50px;
}

.copyright {
    font-size: 16px;
    margin: 25px 0px 0px 560px;
    padding-bottom: -10px;
}